.msi{
	position: fixed;
	top: 100px;
	right: 0;
	background: #fff;
	z-index: 999;
	padding: 15px;
	width: 600px;
    height: 500px;
    border:1px solid #333;
    font-size:16px;
    overflow: scroll;
}

.msi .msi-meta-H1 {
    margin-left: 0;
}
.msi .msi-meta-H2 {
    margin-left: 15px;
}
.msi .msi-meta-H3 {
    margin-left: 30px;
}
.msi .msi-meta-H4 {
    margin-left: 45px;
}
.msi .msi-meta-H5 {
    margin-left: 60px;
}
.msi .msi-meta-H6 {
    margin-left: 75px;
}
.msi-section {
    background: #e4e4e4;
    padding: 12px 15px;
    margin-bottom: 20px;
}

.msi-header {
    background: #333;
    color: #fff;
    padding: 3px 12px;
    margin: -15px;
    margin-bottom: 10px;
}
.msi table{
	max-width: 100%;
	font-size:12px;
}
.msi table td, .msi table th {
    padding: 3px;
}
.msi-warning {
    padding: 6px 12px;
    background: #ffb8b8;
    color: #f13535;
    margin-bottom: 12px;
    border-radius: 0;
}